body {
    font-family: cursive;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

figcaption {
    font-style: italic;
}

/* images' positioning*/
img {
    width: 5em;
    height: 5em;
}

.github {
    height: 1em;
    width: 1em;
    transition: 1s;
}

.github:hover {
    transform: rotate(360deg);
}

.splatter {
    top: 0;
    left: 0;
    position: absolute;
    width: 250px;
    height: 250px;
    -webkit-user-drag: none;
    user-select: none;
}

.another {
    top: -3em;
    left: 60em;
}

/* the main element */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

/* aside element and lists*/
aside {
    align-self: flex-start;
    margin-right: 1em;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 0.5em;
}

.drawing {
    background-color: red;
    width: 70vh;
    height: 70vh;
    z-index: 999;
}

input {
    background-color: transparent;
    width: 5em;
    height: 5em;
    overflow: hidden;
    border: none;
}

/* Footer */
footer {
    position: absolute;
    background-color: black;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

p {
    color: white;
}

/* CSS grid drawing area */
.drawing {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    user-select: none;
    -webkit-user-drag: none;
    box-shadow: 29px 27px 5px 14px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 29px 27px 5px 14px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 29px 27px 5px 14px rgba(0, 0, 0, 0.51);
}

.item {
    background-color: white;
    border: none;
    user-select: none;
    -webkit-user-drag: none;
}

/*Rainbow color styling*/

.clicked {
    background-color: lightgreen;
    transition-duration: 0.5s;
}

/* Eraser styling*/
.eraser {
    border: 1px solid transparent;
    transition: 0.5s;
    user-select: none;
    -webkit-user-drag: none;
}

.toggled {
    border: 1px solid red;
    border-radius: 100%;
    transform: rotate(-45deg);
}

button {
    background-color: transparent;
    border: none;
}

/*reset button*/

.reseto {
    transition: 0.5s;
}

.reseto:hover {
    transform: rotate(-140deg);
}

/* Slider bar */

.dimensions {
    color: #000;
}