body{
    font-size: 12px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap: 20px;
}

.toggleBtn{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
}
.toggleBtn input{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.toggleBtn .onOff{
    color: black;
    font-size: 2em;
    text-align: center;
    display: block;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.slider{
    position: relative;
    display: block;
    cursor: pointer;
    background-color: lightgray;
    transition: 0.5s;
    width: 6vh;
    height: 4vh;
    margin-top: 2%;
}
.slider:before{
    content: "";
    position: absolute;
    width: 2vh;
    height: 3vh;
    background-color: white;
    transition: 0.5s;
    top: 13%;
    left: 5%;
}
input:checked + .slider{
    background-color: rgb(18, 74, 18);
}
input:checked + .slider:before{
    transform: translateX(170%);
    background-color: yellow;
}
.slider.round{
    border-radius: 10%;
}
.slider.round:before{
    border-radius: 10%;
}

.board{
    height: 50vh;
    width: 50vh;
    display:flex;
    flex-wrap: wrap;
}
.pixel{
    background-color: black;
    width: 1.5625%;
    height: 1.5625%;
}